:root {
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  --clr-dark: 0, 0%, 55%;
  --clr-very-dark: 0, 0%, 41%;

  --fs-header: 4rem;
  --fs-body: 1rem;

  --fs-header-mobile: 2.25rem;

  --fw-header: 300;
  --fw-body: 400;

  --ff-header: "Josefin Sans", sans-serif;
  --ff-body: "Alata", sans-serif;
}
