@use "_utilities";

//------------------------------------------------
// Hero with background image
//------------------------------------------------

.hero-header-bg-container {
  background-image: url(images/desktop/image-hero.jpg);
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsl(var(--clr-black));
    opacity: 0.5;
  }
}

.hero-w-bg {
  // position: relative;
  // top: -200px;
  // z-index: -1;

  // min-height: 100vh;

  min-height: 80vh;

  // background-image: url(images/desktop/image-hero.jpg);
  // background-size: cover;

  display: flex;
  align-items: center;

  margin-bottom: 8rem;

  position: relative;
}

.hero-w-bg h1 {
  display: inline-block;

  // position: relative;
  // bottom: -100px;

  font-size: var(--fs-hero);
  font-family: var(--ff-header);
  font-weight: var(--fw-header);
  color: hsl(var(--clr-white));

  text-transform: uppercase;

  padding: 3rem 10rem 3rem 3rem;

  line-height: 5rem;

  border: 3px solid hsl(var(--clr-white));
}

//------------------------------------------------
// Media Queries
//------------------------------------------------

@media (max-width: 1024px) {
  .hero-bg-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-w-bg h1 {
    font-size: var(--fs-hero-mobile);
    line-height: 3rem;

    padding: 2rem;
  }
}
